<!doctype html>
<html>
  <head>
    <title>Postal Rate Calculator - Error</title>
    <link rel="stylesheet" href="styles/bootstrap.css" />
  </head>
  <body class="container-fluid">
    <div class="row bg-info py-2">
      <div class="col-sm-4">
        <h1 class="text-white">Postal Calculator</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-4 card border rounded mt-4 p-4">
        <div class="card-body">
          <h5 class="card-title text-danger">Error</h5>
          <p class="card-text"><%= message  %></p>
          <a href="/" class="btn btn-primary">Go Back</a>
        </div>
      </div>
    </div>
  </body>
</html>

