<!doctype html>
<html>
  <head>
    <title>Postal Rate Calculator - Your Rate</title>
    <link rel="stylesheet" href="styles/bootstrap.css" />
  </head>
  <body class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-4 card border rounded mt-4 p-4">
        <div class="card-body">
          <h5 class="card-title">Postal Rate</h5>
          <p>Your postal rate for <%= type  %> with weight <%= weight  %> is <%= rate  %></p>
          <a href="/" class="btn btn-primary">Calculate Another</a>
        </div>
      </div>
    </div>
  </body>
</html>
